html {
    background-color: rgb(42, 42, 75);
}

iframe {
    border: solid 5px rgb(229, 75, 75);
    margin: 2%;
}

#trailers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}